
<header id="top" class="header">

    <div class="text-vertical-center">
        <h1>ParkBook</h1>
        <h3>Better than Parkplace</h3>
        <br>
        <div class="container">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">

                <input id="searchBar" type="text" ng-model="parkName" placeholder="Enter Park Names" typeahead="name for name in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control">
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

                <a id="findParks" ng-click="findPark(parkName)" class="btn btn-dark btn-lg" type="button">Find Parks</a>
                <a id="findClosestPark" ng-click="findClosestPark()" class="btn btn-dark btn-lg" type="button">Find Closest Park</a>
                <a id="findAdventure" ng-click="findRandomPark()" class="btn btn-dark btn-lg" type="button">I'm Feeling Adventurous</a>

            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</header>


<div>
    <!-- NATIVE GOOGLE MAPS -->
    <div id="parkmap">
        <div id="map"></div>
        <div data-ng-model="mymarker"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h3>Park Results</h3>
                <hr class="small">
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>&nbsp;</th>
        </tr>
        </thead>


        <tbody>

        <tr ng-repeat="park in parksSearched">
            <td><a ui-sref="park({parkName:park.name})">{{park.name}}</a></td>
            <td>{{ park.streetNumber + " " + park.streetName }}</td>
            <td>rating</td>
        </tr>

        </tbody>

    </table>
</div>

<button class="btn-warning" ng-click="importParks()">Import Data</button>

<script>
    $(document).ready(function () {

        $("#findParks").click(function () {
            //$(this).animate(function(){
            $('html, body').animate({
                scrollTop: $("#parkmap").offset().top
            }, 1000);
            //});
        });

        $("#findClosestPark").click(function () {
            //$(this).animate(function(){
            $('html, body').animate({
                scrollTop: $("#parkmap").offset().top
            }, 1000);
            //});
        });

        $("#findAdventure").click(function () {
            //$(this).animate(function(){
            $('html, body').animate({
                scrollTop: $("#parkmap").offset().top
            }, 1000);
            //});
        });

        $("#searchBar").keyup(function(event){
            if(event.keyCode == 13){
                $("#findParks").click();
            }
        });
    });
</script>