
<div>

    <center><div class="text-horizontal-center">
        <h3>{{name}}</h3>
        <p>{{address}}</p>
    </div>
        <div class="fb-like" data-href="{{getLocation()}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></center>
    <br>
    <div class="row">
        <div id="map-park-page"></div>
    </div>
    <br>

    <div class="container">
        <div class="row">
            <h2> General Information </h2>
            <div class="col-md-2">
                <h3>Facilities</h3>
                <ul ng-repeat="facility in facilityTypes track by $index">
                    <li> {{facility}} </li>
                </ul>
            <div class="col-md-2">
                <h3>Washroom Locations</h3>
                <ul ng-repeat="washroom in washroomLocations track by $index">
                    <li> {{washroom}} </li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3>Features</h3>
                <ul ng-repeat="feature in features track by $index">
                    <li> {{feature}} </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>Reviews</h3>
                <div class="fb-comments" data-href="{{getLocation()}}" data-numposts="10" data-colorscheme="light" data-width="580" id="commentbox"></div>
            </div>
        </div>
    </div>

</div>