
<div >
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=485003794998932";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script type="text/javascript">
        $(document).ready(function(){
            //Check if the current URL contains '#'
            if(document.URL.indexOf("#")==-1){
                // Set the URL to whatever it was plus "#".
                url = document.URL+"#";
                location = "#";

                //Reload the page
                location.reload(true);
            }
        });
    </script>
    <center><div class="text-horizontal-center">
        <h3>{{name}}</h3>
        <p>{{address}}</p>
    </div>

    <div class="fb-like" data-href="http://localhost:3000/#/park/{{name}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></center>
    <br>
            <!--<div id="map-park-page"></div>-->
         <div id="map-park-page"></div>

    <br>


    <center><div class="fb-comment-box"
             dyn-fb-comment-box
             page-href="http://localhost:3000/#/park/{{name}}"
             numposts="5">
    </div></center>

    <div id="fb-root"></div>
</div>