
<div>

    <center>
        <div class="park-head text-horizontal-center">
         <h3>{{name}}</h3>
         <h4>{{address}}</h4>
         <div>
            <div star-rating data-ng-model="rating1" max="5" on-rating-selected="rateFunction(rating)"></div>
            <div><strong>Rating:</strong> {{rating1}}</div>
         </div>

        </div>


    </center>

        <div class="row">

            <div id="map-park-page"></div>

        </div>

    <br>
    <div class="container">
        <div class="row">
            <h2> General Information </h2>
            <div class="fb-like" data-href="{{getLocation()}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

            <div class="col-md-2">

                <table class="table">
                    <thead>
                    <tr>
                        <th>Facilities</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr ng-repeat="facility in facilityTypes track by $index">
                        <td>{{ facility }}</td>
                    </tr>

                    </tbody>


                </table>

            </div>
            <div class="col-md-2">

                <table class="table">
                    <thead>
                    <tr>
                        <th>Washroom Locations</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr ng-repeat="washroom in washroomLocations track by $index">
                        <td>{{ washroom }}</td>
                    </tr>

                    </tbody>


                </table>

            </div>
            <div class="col-md-2">

                <table class="table">
                    <thead>
                    <tr>
                        <th>Features</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr ng-repeat="feature in features track by $index">
                        <td>{{ feature }}</td>
                    </tr>

                    </tbody>


                </table>

            </div>
            <div class="col-md-6">
                <h3>Reviews</h3>
                <div class="fb-comments" data-href="{{getLocation()}}" data-numposts="10" data-colorscheme="light" data-width="580" id="commentbox"></div>
            </div>
        </div>
    </div>
</div>

